---

interface Props {
    heading: string;
    [name: string]: string;
}

const { heading, ...attributes } = Astro.props;
attributes.class = "imprint-alert --success imprint-panel " + attributes.class;

import InlineSvg from "../InlineSvg.astro";
import symbol from 'heroicons/24/outline/check-circle.svg?raw';

---

<div {...attributes}>
    <h4><InlineSvg svg={symbol} class="inline w-auto h-24rpx pr-2su"/>{heading}</h4>
    <div class="imprint-inner">
        <slot/>
    </div>
</div>