@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: sans-serif;
    @apply imprint-fontsize-root;
}

span.icon::before {
    content: "-LINK-";
}

.astro-code {
    @apply p-4su;
    background-image: url("/assets/blueprint-moz.png");
    background-repeat: repeat;
}

li.pagetoc {
    display: list-item;
    @apply mt-2su;
}

li.pagetoc a {
    @apply leading-relaxed hover:text-[--imprint-link-hover-color] !important;
}

li.pagetoc a.active {
    @apply text-[--imprint-primary];
}

li.pagetoc-2 {

}

li.pagetoc-3 {
    @apply font-light pl-4su mt-1su text-imprint-nero text-[0.95em];
}

#show-hide-nav:checked ~ * #sidebar {
    display: block !important;
    transition: all 0.5secs ease;
}

#show-hide-nav:checked ~ * #open-show-hide-nav {
    display: none !important;
}

#show-hide-nav:not(:checked) ~ * #open-show-hide-nav {
    display: block;
}

#show-hide-nav:not(:checked) ~ * #close-show-hide-nav {
    display: none !important;
}

#show-hide-nav:checked ~ * #close-show-hide-nav {
    display: block;
}
