@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: sans-serif;
    @apply imprint-fontsize-px-bodycopy;
}

#content {
    display: grid;
    grid-template-columns: 19rem 1fr;
    gap: 2rem;
}

span.icon::before {
    content: "-LINK-";
}

.astro-code {
    @apply p-4su;
    background-image: url("/assets/blueprint-moz.png");
    background-repeat: repeat;
}