---

import imprintConfig from "../../imprint.config";

import { getEntry } from 'astro:content';
import InlineSvg from "./InlineSvg.astro";
import chevonRight from 'heroicons/16/solid/chevron-right.svg?raw';

// what is the current page?
const currentUrl = new URL(Astro.request.url);
const currentSlug = currentUrl.pathname.substring(1);

const breadcrumbs = [
    {
        slug: '',
        title: 'Home',
        isEnd: true,
    }
];

async function buildBreadcrumbs() {
    const currentEntry = await getEntry('docs', currentSlug);
    const navSection = imprintConfig.navSections.find((navSection) => navSection.name === currentEntry?.data.navSection);

    // special case - home page
    if (currentEntry.slug !== '/') {
        breadcrumbs[breadcrumbs.length - 1].isEnd = false;
        breadcrumbs.push({
            slug: navSection?.slug === '/' ? '' : navSection.slug,
            title: navSection?.name,
            isEnd: false,
        })

        breadcrumbs.push({
            slug: currentSlug,
            title: currentEntry?.data.title,
            isEnd: true,
        });
    }
}

if (currentSlug != '') {
    await buildBreadcrumbs();
}

---

<nav class="flex items-center breadcrumb" role="navigation">
    <ol class="flex align-middle">
        {breadcrumbs.map((breadcrumb) => (
            <li class="flex items-center">
                {!breadcrumb.isEnd && <a href={"/" + breadcrumb.slug} class="text-imprint-graphite hover:text-[--imprint-default-link-hover-color]">{breadcrumb.title}</a>}
                {!breadcrumb.isEnd && <InlineSvg svg={chevonRight} class="flex-shrink-0 inline h-auto mx-1 w-24rpx text-imprint-gray"/>}
                {breadcrumb.isEnd && <span class="text-imprint-primary">{breadcrumb.title}</span>}
            </li>
        ))}
    </ol>
</nav>