---
---

<div class="imprint code-example">
    <header>
        <h4>Example: A Basic Code Example</h4>
    </header>
    <div class="example-content">
        <div class="example-output">
        </div>
        <div class="example-source">
            <pre class="language-html"><code class="language-html">
            <div class="panel">
                This is a basic panel.
            </div>
            </code></pre>
        </div>
    </div>
</div>