---

import { getCollection } from "astro:content";

const devices = await getCollection("devices", ({ data }) => data.name.length === 1);

---

<table>
    <thead>
        <tr>
            <th>Breakpoint Prefix</th>
            <th>Screen Width</th>
            <th>Media Query</th>
    </thead>
    <tbody>
        {devices.map((entry) => (
            <tr>
                <td><code>{entry.data.name}</code></td>
                <td>{entry.data.breakpoint.screenWidth}</td>
                <td><code>{entry.data.breakpoint.mediaQuery}</code></td>
            </tr>
        ))}
    </tbody>
</table>