---
---
<div class="max-w-full p-4 text-center text-white bg-indigo">
    <p>Active Imprint CSS device group(s):
        <span class="">&lt;default group&gt;,</span>
        <span class="hidden a:inline-block">a,</span>
        <span class="hidden a-t:inline-block">a-t,</span>
        <span class="hidden a-d:inline-block">a-d,</span>
        <span class="hidden b:inline-block">b,</span>
        <span class="hidden b-t:inline-block">b-t,</span>
        <span class="hidden b-d:inline-block">b-d,</span>
        <span class="hidden c:inline-block">c,</span>
        <span class="hidden c-t:inline-block">c-t,</span>
        <span class="hidden c-d:inline-block">c-d,</span>
        <span class="hidden d:inline-block">d,</span>
        <span class="hidden d-t:inline-block">d-t,</span>
        <span class="hidden d-d:inline-block">d-d,</span>
        <span class="hidden e:inline-block">e,</span>
        <span class="hidden e-t:inline-block">e-t,</span>
        <span class="hidden e-d:inline-block">e-d,</span>
        <span class="hidden f:inline-block">f,</span>
        <span class="hidden f-t:inline-block">f-t,</span>
        <span class="hidden f-d:inline-block">f-d,</span>
    </p>
    <hr class="my-4 text-material-indigo-300"/>
    <p>Active Tailwind breakpoint(s):
        <span class="">&lt;default group&gt;,</span>
        <span class="hidden sm:inline-block">sm,</span>
        <span class="hidden md:inline-block">md,</span>
        <span class="hidden lg:inline-block">lg,</span>
        <span class="hidden xl:inline-block">xl,</span>
        <span class="hidden 2xl:inline-block">2xl,</span>
    </p>
</div>
