---
---
<div class="imprint swatch">
    <ul>
        <li>
            <span class="shade">
                <a href="">colorName</a>
            </span>
            <span class="hex">
                <a href="">colorHex</a>
            </span>
        </li>
    </ul>
</div>